@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';
html,
body {
  background-color: #374550;
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0; }

.container {
  max-width: 560px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto; }

.form {
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding-left: 32px;
  padding-right: 32px; }

.form__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5em; }
